<h1 class='page-header'>History</h1>

<div class="alert alert-warning" role="alert">This is a sample page. Replace link in the header with your own.</div>

<% @games.each do |game| %>
  <p> date_played <p>
  <p><%= game.date_played %></p>
<% end %>
<%= image_tag('history.png') %>
