<h1 class='page-header'>History</h1>

<table class="table">
  <tr>
    <th>Date Played</th>
    <th>Oponent</th>
    <th>Score</th>
    <th>Win</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td>
        <p><%= game.date_played %></p>
      </td>
      <td>
        <p><%= game.oponent.email %></p>
      </td>
      <td>
        <p><%= game.user_score.to_s + "-" + game.oponent_score.to_s%></p>
      </td>
      <td>
        <p><%= game.win? %></p>
      </td>
    </tr>

<% end %>
