<% if @for_user %>
  <h1 class='page-header'>History</h1>
<% else %>
  <h1 class='page-header'>Leadboard</h1>
<% end %>

<% @games.each do |game| %>
  <p> date_played <p>
  <p><%= game.date_played %></p>
<% end %>
<%= image_tag('history.png') %>
